.headroom {
  background-color: #222;
  height: 12em;
  min-width: 1em;
  color: rgb(255, 255, 255);
}

.headroom--scrolled {
  transition: transform 1500ms ease-in-out;
}

.left-header {
  display: inline-block;
  float: left;
}

.weather-header {
  display: inline-block;
  color: rgb(95, 246, 243);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2.9em;
  float: left;
  vertical-align: top;
  margin-top: 0.5em;
  margin-left: 0.3em;
  margin-bottom: 0.4em;
}

.search-nav {
  display: inline-block;
  float: left;
}

.city-options-nav {
  display: inline-block;
  position: top right;
  float: right;
  width: 10em;
  margin-right: -3em;
  vertical-align: top;
}