.search {
  margin-left: 15px;
  margin-top: 40px;
}

p {
  margin-bottom: 2px;
}

input {
  height: 24px;
  padding-left: 5px;
  width: 160px;
  font-size: 14px;
}

.example-text {
  font-size: 10px;
  margin-top: 4px;
  margin-left: 3px;
}