.future-day {
  border: 2px solid black;
  display: inline-block;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  width: 12em;
}

.future-day-img {
  margin-top: -3em;  
  float: right;
  height: 3em;
}