.next-10-days {
  margin-left: 0.3em;
  display: block;
  position: absolute;
}

@media only screen and (min-width: 666px) {
  .next-10-days {
    max-width: 34em;
    display: inline-block;
    float: right;
  }
}