.next-10-days {
  margin-left: 0.3em;
}

@media all and (orientation:landscape), and (max-device-width:400px) {
  .next-10-days {
    max-width: 34em;
    display: inline-block;
    position: absolute;
    float: right;
  }
}

@media all and (min-device-width:668px) {
  .next-10-days {
    max-width: 70em;
    display: inline-block;
    position: relative;
  }
}