.chosen-city-today {
  width: 16em;
  border: 2px solid black;
  margin-left: 1.3em;
  margin-top: 1.3em;
  padding-right: 1.3em;
  padding-left: 1.3em;
  padding-bottom: 1.3em;
}

.city-state {
  display: none;
}

.city-state-today {
  float: right;
  display: inline-block;
  position: absolute;
  margin-top: -3em;
  margin-left: 8em;
  font-size: 3em;
}

.high-low {
  width: 6em;
}

.today-img {
  margin-top: -5em;  
  float: right;
  height: 5em;
}

@media all and (orientation:landscape) {
  .city-state {
    display: inline-block;
    margin-bottom: -1em;
  }
  .city-state-today {
    display: none;
  }
  .chosen-city-today {
    position: top;
    display: inline-block;
    float: left;
    width: 10em;
    margin: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
  }
  .today-h2 {
    font-size: 1em;
  }
  .today-h3 {
    font-size: 1em;
  }
  .today-img {
    height: 3em;
    margin-top: -3em;
  }
}

@media all and (min-device-width:668px) {
  .chosen-city-today {
    width: 16em;
    margin-left: 1.3em;
    margin-top: 1.3em;
    padding-right: 1.3em;
    padding-left: 1.3em;
    padding-bottom: 1.3em;
  }
  .city-state {
    display: none;
  }
  .city-state-today {
    float: left;
    display: inline-block;
    position: absolute;
    top: 5em;
    left: 8em;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 2.5em;
  }
  .high-low {
    width: 6em;
  }
  .today-h2 {
    font-size: 1.8em;
  }
  .today-h3 {
    font-size: 1.3em;
  }
  .today-img {
    margin-top: -5em;  
    float: right;
    height: 5em;
  }
}

@media all and (max-width: 668px) {
  .city-state-today {
    margin-top: -3.5em;
  }
}
@media all and (max-device-width:400px) {
  .city-state-today {
    display: none;
  }
  .city-state {
    display: inline-block;
    margin-bottom: -1em;
  }
}


