.chosen-city-today {
  /*display: block;*/
  width: 16em;
  border: 2px solid black;
  margin-left: 20px;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.high-low {
  /*display: inline-block;*/
  width: 6em;
}

.today-img {
/*  display: inline-block;*/
  margin-top: -5em;  
  float: right;
  height: 5em;
}

@media only screen and (min-width: 666px) {
  .chosen-city-today {
    position: top;
    display: inline-block;
    float: left;
    width: 10em;
    margin: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
    /*vertical-align: top;  */
  }
  .today-h2 {
    font-size: 1em;
  }
  .today-h3 {
    font-size: 1em;
  }
  .today-img {
    height: 3em;
    margin-top: -3em;
  }
}
